<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tittle</title>
</head>
<body>
<form  th:object="${newuser}" method="post" >

    <div>
        <p>Имя</p>
        <input th:field="*{name}"/>
    </div>

    <div>
        <p>Фамилия</p>
        <input th:field="*{lastname}" />
    </div>

    <div>
        <p>Возраст</p>
        <input th:field="*{age}"/>
    </div>
    <div>
        <p>Адресс</p>
        <input th:field="*{address}"/>
    </div>
    <div>
        <div>
            <button type="submit">Готово</button>
        </div>
    </div>
</form>
</body>
</html>